################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/FactorialJira/obj/Debug/netstandard2.0
/FactorialJira/obj/MCD/Debug/netstandard2.0
/.vs/FactorialJira/v16/Server/sqlite3
/FactorialJira/obj/MCD/Release/netstandard2.0
/FactorialJira/obj
/FactorialJiraConsole/obj/Debug/netcoreapp3.1
/FactorialJiraConsole/obj/MCD/Debug/netcoreapp3.1
/FactorialJiraConsole/obj/MCD/Release/netcoreapp3.1
/FactorialJiraConsole/obj
/FactorialJiraUnitTests/obj/Debug/netcoreapp3.1
/FactorialJiraUnitTests/obj/MCD/Debug/netcoreapp3.1
/FactorialJiraUnitTests/obj/MCD/Release/netcoreapp3.1
/FactorialJiraUnitTests/obj/project.assets.json
/FactorialJiraUnitTests/obj/FactorialJiraUnitTests.csproj.nuget.g.targets
/FactorialJiraUnitTests/obj/FactorialJiraUnitTests.csproj.nuget.g.props
/FactorialJiraUnitTests/obj/FactorialJiraUnitTests.csproj.nuget.dgspec.json
/FactorialJiraUnitTests/obj/FactorialJiraUnitTests.csproj.nuget.cache
/FactorialProjectConsoleTests/obj/Debug/netcoreapp3.1
/FactorialProjectConsoleTests/obj/MCD/Debug/netcoreapp3.1
/FactorialProjectConsoleTests/obj/MCD/Release/netcoreapp3.1
/FactorialProjectConsoleTests/obj/project.assets.json
/FactorialProjectConsoleTests/obj/FactorialProjectConsoleTests.csproj.nuget.g.targets
/FactorialProjectConsoleTests/obj/FactorialProjectConsoleTests.csproj.nuget.g.props
/FactorialProjectConsoleTests/obj/FactorialProjectConsoleTests.csproj.nuget.dgspec.json
/FactorialProjectConsoleTests/obj/FactorialProjectConsoleTests.csproj.nuget.cache
